@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&display=swap');

.common-box{
    /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
    font-size: 40px;
    font-family: 'Love Ya Like A Sister', cursive;
}

/* .modal-content{
    box-shadow:0 5px 15px rgba(0,0,0,.5);
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.2);
    margin-top: 10px;
    background-color: #ffffff;
} */

.responsive {
    width: 100%;
    height: auto;
}

.headerImage{
    max-width: 150px;
}

.shoppeImage{
    max-width: 550px;
}

.overlayImage{
    max-width: 70px;
}

.overlay-img {
    position: absolute;
	top: 120px;
    left: 875px;
    z-index: 2;
}

.flex-container-one {
    text-align: center;
    background-image: url('src\assets\images\bg-tile.gif');
    color: orange;
    font-size: 30px;
}

.flex-container-one >label, .flex-container-one >img{
padding: 30px;
align-content: center;
vertical-align: middle;
}

.flex-container-two {
    text-align: center;
    background-image: url('src\assets\images\bg-tile-yellow.gif'); 
}




.flex-container-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('src\assets\images\bg-tile.gif'); 
    font-size: 30px;
  }

.flex-container-four {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('src\assets\images\bg-tile-brown.gif'); 
    color: rgb(245, 241, 234);
    font-size: 12px;
    padding: 50px;
}

.flex-container-four >p{
    padding-right: 100px;
    padding-left: 10px;
}
  