<!--The content below is only a placeholder and can be replaced.-->
<div class="body-page">
  <div class="container">
    <div class="flex-container-one modal-content">
      <label>Home</label>
      <label>Order</label>
      <img class="responsive headerImage" alt="Vegan Donut" src="./../assets/images/logo.png">
      <label>About Us</label>
      <label>Log In</label>
    </div>
    <div class="flex-container-two modal-content">
      <img class="responsive shoppeImage" alt="Vegan Donut Shoppe" src="./../assets/images/donut-shoppe.png" />
      <img class="responsive overlayImage overlay-img" alt="Fresh Whole Ingredients"
        src="./../assets/images/fresh-whole-ingredients.png" />
    </div>
    <div class="flex-container-three modal-content">
      <h4>
        <span style="color: orange">The </span>
        <span style="color: brown">Whole </span>
        <span style="color: orange">Story</span>
      </h4>
      <img alt="underline" src="./../assets/images/header-divider.png">
      <h6>
        <span style="color: rgb(105, 69, 69)">We want ro show the world what a <span style="font-size: 40px">real</span>
          donut tastes like!</span>
      </h6>

    </div>
    <div class="flex-container-four modal-content">
      <img width="40" alt="Vegan Donut Shoppe" src="./../assets/images/icon-recycle.png">
      <p>Lorem ipsum is placeholder text <br />commonly used in the graphics.</p>
      <img width="40" alt="Vegan Donut Shoppe" src="./../assets/images/icon-apple.png">
      <p>Lorem ipsum is placeholder text <br />commonly used in the graphics.</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>